# This file lists all Python dependencies for the project

# Django Core
# Pinned to 4.2 due to django-cryptography incompatibility with Django 5
Django>=4.2,<5.0
djangorestframework
django-cors-headers
django-cryptography # For encrypted fields
django-redis # For Redis cache
django-ratelimit

# Database (Postgres)
psycopg2-binary

# Asynchronous Tasks (Celery)
celery
redis

# Object Storage (MinIO/S3)
django-storages
boto3
Pillow

# Utilities
python-dotenv
gunicorn
django-anymail[sendinblue]
pdfplumber==0.10.3